/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.my-container {
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.sign_in {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign_in h2, .sign_up h2 {
  margin-bottom: 1.5rem;
}

.new_user {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.new_user .field {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-bottom: 1.25rem;
  align-items: center;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin-bottom: 1.25rem;
}

input[type="text"], input[type="password"], input[type="email"], input[type="submit"] {
  width: 80%;
  height: 2.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding-left: 0.5rem;
}

.sign_up {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@import url("user_index");
@import url("user_show");
@import url("post_index");
@import url("post_show")
